.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  width: 100%;
  height: 200px;
  background: #5a6ed5;
}
.control strong {
  color: #ffd929;
}

.by {
  margin-top: auto;
  padding: 16px;
  font-size: 24px;
  color: #5a6ed5;
}
.by:hover {
  color: #272931;
}

@media (max-width: 768px) {
  .control {
    flex-direction: column;
    font-size: 36px;
  }
  .by {
    font-size: 16px;
  }
}
